<h1>Ваша корзина</h1>

<% if @cart_items.any? %>
  <table>
    <thead>
    <tr>
      <th>Назва</th>
      <th>Ціна</th>
      <th>Кількість</th>
      <th>Разом</th>
      <th>Дія</th>
    </tr>
    </thead>
    <tbody>
    <% @cart_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= number_to_currency(item.product.price) %></td>
        <td>
          <%= form_with url: cart_item_path(item), method: :patch, local: true do |f| %>
            <div style="display: flex; align-items: center;">
              <%= button_to '-', cart_item_path(item, quantity: item.quantity - 1), method: :patch, class: 'btn btn-secondary', form_class: 'inline-button' %>
              <span style="margin: 0 10px;"><%= item.quantity %></span>
              <%= button_to '+', cart_item_path(item, quantity: item.quantity + 1), method: :patch, class: 'btn btn-secondary', form_class: 'inline-button' %>
            </div>
          <% end %>
        </td>
        <td><%= number_to_currency(item.product.price * item.quantity) %></td>
        <td>
          <%= button_to 'Видалити', cart_item_path(item), method: :delete, class: 'btn btn-danger', data: { confirm: 'Ви впевнені?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <p><strong>Загальна сума: <%= number_to_currency(@cart_items.sum { |item| item.product.price * item.quantity }) %></strong></p>

  <%= link_to 'Оформити замовлення', new_order_path, class: 'btn btn-primary' %>
<% else %>
  <p>Ваша корзина порожня.</p>
<% end %>
