<div class="feedbackpage-container">
  <h1 class="feedbackpage-title">Зворотній зв’язок</h1>

  <%= form_with model: @feedback, local: true, class: "feedbackpage-form" do |f| %>
    <div class="feedbackpage-form-group">
      <%= f.label :subject, 'Тема:', class: "feedbackpage-label" %>
      <%= f.text_field :subject, class: "feedbackpage-input" %>
    </div>

    <div class="feedbackpage-form-group">
      <%= f.label :message, 'Повідомлення:', class: "feedbackpage-label" %>
      <%= f.text_area :message, class: "feedbackpage-input feedbackpage-textarea" %>
    </div>

    <div class="feedbackpage-form-group">
      <%= f.label :images, 'Додати фото (за бажанням):', class: "feedbackpage-label" %>
      <%= f.file_field :images, multiple: true, class: "feedbackpage-input feedbackpage-file-input" %>
    </div>

    <div class="feedbackpage-form-group">
      <%= f.submit 'Відправити', class: "feedbackpage-btn feedbackpage-submit-btn" %>
    </div>
  <% end %>
</div>
