<h1>Ось наші товари</h1>

<!-- Панель для вибору категорії -->
<div class="category-panel" style="margin-bottom: 20px;">
  <%= link_to 'Всі товари', products_path, class: 'btn btn-info' %>
  <% Category.all.each do |category| %>
    <%= link_to category.name, products_path(category: category.id), class: 'btn btn-secondary' %>
  <% end %>
</div>

<!-- Поле для пошуку -->
<div style="text-align: center; margin-top: 20px;">
  <%= form_with url: products_path, method: :get, local: true, id: 'search-form' do |f| %>
    <%= f.label :search, "Пошук товарів" %>
    <%= f.text_field :search, placeholder: 'Шукайте товар за назвою...', class: 'form-control' %>
    <%= f.submit 'Шукати', class: 'btn btn-primary' %>
  <% end %>
</div>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <% if product.image.attached? %>
          <%= image_tag product.image, style: "max-width: 150px;" %>
        <% end %>
        <%= link_to product.name, product_path(product) %>
        <p>Price: $<%= product.price %></p>
        <p>Category: <%= product.category.name %></p>
      </li>

      <%= form_with url: user_signed_in? ? cart_items_path : new_user_session_path, method: :post do |f| %>
        <% if user_signed_in? %>
          <%= hidden_field_tag :product_id, product.id %>
          <%= hidden_field_tag :quantity, 1 %>
        <% end %>
        <%= f.submit 'Додати до корзини' %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>Товари не знайдені.</p>
<% end %>
