<h1 class="page-title">Ось наші товари</h1>

<!-- Панель для вибору категорії -->
<div class="product-indexpage-category-panel">
  <%= link_to 'Всі товари', products_path, class: "product-indexpage-btn-category #{'product-indexpage-active-category' unless params[:category]}" %>
  <% Category.all.each do |category| %>
    <%= link_to category.name, products_path(category: category.id), class: "product-indexpage-btn-category #{'product-indexpage-active-category' if params[:category].to_i == category.id}" %>
  <% end %>
</div>

<!-- Поле для пошуку -->
<div class="product-indexpage-search-bar">
  <%= form_with url: products_path, method: :get, local: true, id: 'search-form' do |f| %>
    <%= f.text_field :search, placeholder: 'Шукайте товар за назвою...', class: 'product-indexpage-search-input' %>
    <%= f.submit 'Шукати', class: 'product-indexpage-btn-search' %>
  <% end %>
</div>

<% if @products.any? %>
  <ul class="product-list">
    <% @products.each do |product| %>
      <li class="product-card">
        <% if product.image.attached? %>
          <%= image_tag product.image, class: 'product-image' %>
        <% end %>
        <h3 class="product-name"><%= link_to product.name, product_path(product) %></h3>
        <p class="product-price">Ціна: $<%= product.price %></p>
        <p class="product-category">Категорія: <%= product.category.name %></p>

        <%= form_with url: user_signed_in? ? cart_items_path : new_user_session_path, method: :post, local: true do |f| %>
          <% if user_signed_in? %>
            <%= hidden_field_tag :product_id, product.id %>
            <%= hidden_field_tag :quantity, 1 %>
          <% end %>
          <%= f.submit 'Додати до корзини', class: 'product-indexpage-btn-add-to-cart' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="no-products">Товари не знайдені.</p>
<% end %>


